<!DOCTYPE html>
<html>
  <head>
    <title>Docuflix</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path("favicon.ico") %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <meta property="og:title" content="Docuflix"/>
    <meta property="og:image" content="<%= image_url ("docuflix_cover_img.png") %>"/>
    <meta property="og:description" content="A pixel-perfect clone of a media streaming platform Netflix. Docuflix presents a hand-picked collection of documentaries, allows you to create your watch profile, save documentaries to your watch list, and search your favorite titles"/>
    <meta property="og:url" content="https://docuflix.herokuapp.com/"/>
    <script type="text/javascript">
      window.kidsIntroUrl = "<%= image_url('kids_intro.png') %>";
      window.profileKidsUrl = "<%= image_url('profile_kids.png') %>";
      window.profile1Url = "<%= image_url('profile1.png') %>";
      window.profile2Url = "<%= image_url('profile2.png') %>";
      window.profile3Url = "<%= image_url('profile3.png') %>";
      window.profile4Url = "<%= image_url('profile4.png') %>";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
